.ChoiceAction {
    margin-block: 2em;
    padding-block: 1.7em;

    height: 355px;
    display: grid;
    place-items: center;
}

.user-select {
    width: 100%;

    background-image: url("/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.action .inner {
    background: white;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 1.3em;
    display: grid;
    place-items: center;
    box-shadow: inset rgba(0, 0, 0, 0.3) -1px 6px 2px 0px;
}

.action {
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px -5px 2px 0px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.action.scissor {
    background-image: linear-gradient(
        to bottom,
        hsl(39, 89%, 49%) 0%,
        hsl(40, 84%, 53%) 50%
    );
}
.action.paper {
    background-image: linear-gradient(
        to bottom,
        hsl(230, 89%, 62%) 0%,
        hsl(230, 89%, 65%) 50%
    );
}

.action.rock {
    background-image: linear-gradient(
        to bottom,
        hsl(349, 71%, 52%) 0,
        hsl(349, 70%, 56%) 50%
    );
}

.action img {
    width: 100%;
    object-fit: cover;
}
.user-select .action {
    position: absolute;
    width: 110px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.user-select .inner {
    width: 80px;
}

.user-select .action:hover {
    transform: scale(1.08);
}

.user-select .action:nth-of-type(1) {
    top: -35px;
    translate: -95px 0;
}
.user-select .action:nth-of-type(2) {
    top: -35px;
    translate: 95px 0;
}
.user-select .action:nth-of-type(3) {
    bottom: -35px;
}

/* Result */
.result {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    color: white;
    text-transform: uppercase;
}

.result > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.house,
.you {
    gap: 2em;
}

.house span,
.you span {
    font-size: 1rem;
    letter-spacing: 0.15em;
    font-weight: 600;
}

/* IMP */
.result .action {
    width: 200px;
}
.result .inner {
    width: 160px;
    height: 160px;
}
.result .inner img {
    width: 65%;
}

.control {
    gap: 1em;
    grid-area: control;
}

.control button {
    background: white;
    border: none;
    border-radius: 6px;
    font-size: 0.7rem;
    padding: 0.7em 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    cursor: pointer;
}

.you.win .action,
.house.win .action {
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px -5px 2px 0px,
        0 0 0px 40px rgb(255 255 255 / 6%), 0 0 0px 80px rgb(255 255 255 / 6%),
        0 0 0px 150px rgb(255 255 255 / 5%);
}

.you {
    grid-area: you;
}
.house {
    grid-area: house;
}

@media screen and (max-width: 625px) {
    .result {
        display: grid;
        /* gap: 3em; */
        grid-template-areas:
            "you house"
            "control control";
    }
    .you,
    .house {
        flex-direction: column-reverse !important;
    }

    .you .action,
    .house .action {
        width: 150px;
    }
    .you .action .inner,
    .house .action .inner {
        width: 110px;
        height: 110px;
    }
    .control {
        font-size: 2rem;
        gap: 0.3em;
    }

    .control button {
        font-size: 1rem;
    }

    .rule-btn {
        margin-block: 4em;
    }
}
